<mat-sidenav-container class="chat-container">
  <mat-sidenav #sidenav mode="side" opened class="chat-sidenav">
    <mat-toolbar color="primary">
      <span>Chats</span>
      <button mat-icon-button (click)="openNewChatDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    
    <mat-nav-list>
      <mat-list-item *ngFor="let chat of chats" 
                    (click)="selectChat(chat)"
                    [class.active]="currentChat?.id === chat.id">
        <mat-icon matListItemIcon>chat</mat-icon>
        <span matListItemTitle>{{chat.name}}</span>
        <button mat-icon-button (click)="deleteChat(chat.id, $event)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="chat-header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon>smart_toy</mat-icon>
      <span class="header-title">{{currentChat?.name || 'AI Assistant'}}</span>
    </mat-toolbar>

    <div class="messages-container" #scrollContainer>
      <div class="message-list" *ngIf="currentChat">
        <div *ngFor="let message of currentChat.messages" 
             [ngClass]="{'bot-message': message.isBot, 'user-message': !message.isBot}"
             class="message-bubble">
          <mat-card>
            <mat-card-content>
              <div class="message-content">
                <mat-icon *ngIf="message.isBot" class="bot-icon">smart_toy</mat-icon>
                <mat-icon *ngIf="!message.isBot" class="user-icon">person</mat-icon>
                {{ message.content }}
              </div>
              <div class="message-timestamp">
                {{ message.timestamp | date:'shortTime' }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="input-container">
      <mat-form-field appearance="outline" class="message-input">
        <input matInput
               formControlName="message"
               placeholder="Type your message...">
      </mat-form-field>
      <button mat-fab color="primary" type="submit" [disabled]="!messageForm.valid || !currentChat">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>